<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="index1.css">
    <title>MOVIES</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo_ul">
                <img src="img/logo.png" alt="">
                <ul>
                    <li>
                        <a href="#" id="movies">Movies</a>
                    </li>
                    <li>
                        <a href="#" id="schedule">Schedule</a>
                    </li>
                    <li>
                        <a href="#">Tickets</a>
                    </li>
                </ul>
            </div>
            <div class="user">
                <img src="img/user.jpg" alt="">
                <p>Username</p>
            </div>
        </nav>
    </header>

    <section class="home">
        <video class="video-slide active" src="video/john wick.webm" autoplay muted loop></video>
        <video class="video-slide" src="video/jurasic world.webm" autoplay muted loop></video>
        <video class="video-slide" src="video/theboys.webm" autoplay muted loop></video>
        <div class="content active">
            <h1>John Wick</h1>
            <p>John Wick is a retired assassin who returns back to his old ways after a group of Russian gangsters steal
                his car and kill a puppy which was gifted to him by his late wife Helen. </p>
            <div class="details">
                <h5 id="gen">Thriller</h5>
                <h4 id="date">2015</h4>
                <h3 id="rate"><i class="bi bi-star-fill"></i> 4.5</h3>
            </div>
            <div class="btns">
                <a href="#" id="play">Details <i style="background: transparent;" class="bi bi-play-fill"></i></a>
                <a href="#" id="book_main"> Book now <i style="background: transparent;"
                        class="bi bi-ticket-fill"></i></a>
            </div>
        </div>
        <div class="content">
            <h1>Jurasic World</h1>
            <p>John Wick is a retired assassin who returns back to his old ways after a group of Russian gangsters steal
                his car and kill a puppy which was gifted to him by his late wife Helen. </p>
            <div class="details">
                <h5 id="gen">Thriller</h5>
                <h4 id="date">2015</h4>
                <h3 id="rate"><i class="bi bi-star-fill"></i> 4.5</h3>
            </div>
            <div class="btns">
                <a href="#" id="play">Details <i style="background: transparent;" class="bi bi-play-fill"></i></a>
                <a href="#" id="book_main"> Book now <i style="background: transparent;"
                        class="bi bi-ticket-fill"></i></a>
            </div>
        </div>
        <div class="content">
            <h1>The Boys</h1>
            <p>John Wick is a retired assassin who returns back to his old ways after a group of Russian gangsters steal
                his car and kill a puppy which was gifted to him by his late wife Helen. </p>
            <div class="details">
                <h5 id="gen">Thriller</h5>
                <h4 id="date">2015</h4>
                <h3 id="rate"><i class="bi bi-star-fill"></i> 4.5</h3>
            </div>
            <div class="btns">
                <a href="#" id="play">Details <i style="background: transparent;" class="bi bi-play-fill"></i></a>
                <a href="#" id="book_main"> Book now <i style="background: transparent;"
                        class="bi bi-ticket-fill"></i></a>
            </div>
        </div>
        <div class="slider-nav">
            <div class="nav-btn active"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
        </div>
    </section>

    <section class="more">
        <h4>More</h4>
        <i class="bi bi-chevron-left"></i>
        <i class="bi bi-chevron-right"></i>

        <div class="cards">
            <a href="#" class="card">
                <img src="img/jurassic world.jpg" alt="" class="poster">
                <div class="rest_card">
                    <img src="img/jurassic world1.jpg" alt="">
                    <div class="cont">
                        <h4>Jurassic World</h4>
                        <div class="sub">
                            <p>Action, 2022</p>
                            <h3><span>Rating</span><i class="bi bi-star-fill"></i> 4.3</h3>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="card">
                <img src="img/the boys.jpg" alt="" class="poster">
                <div class="rest_card">
                    <img src="img/the boys1.jpg" alt="">
                    <div class="cont">
                        <h4>The Boys</h4>
                        <div class="sub">
                            <p>Action, 2021</p>
                            <h3><span>Rating</span><i class="bi bi-star-fill"></i> 3.3</h3>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="card">
                <img src="img/topgun.jpg" alt="" class="poster">
                <div class="rest_card">
                    <img src="img/topgun1.jpg" alt="">
                    <div class="cont">
                        <h4>Top Gun</h4>
                        <div class="sub">
                            <p>Action, 2022</p>
                            <h3><span>Rating</span><i class="bi bi-star-fill"></i> 4.0</h3>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="card">
                <img src="img/spiderman.jpg" alt="" class="poster">
                <div class="rest_card">
                    <img src="img/spiderman1.jpg" alt="">
                    <div class="cont">
                        <h4>Spiderman</h4>
                        <div class="sub">
                            <p>Action, 2021</p>
                            <h3><span>Rating</span><i class="bi bi-star-fill"></i> 4.3</h3>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="card">
                <img src="img/uncharted.webp" alt="" class="poster">
                <div class="rest_card">
                    <img src="img/uncharted1.jpg" alt="">
                    <div class="cont">
                        <h4>Uncharted</h4>
                        <div class="sub">
                            <p>Action, 2021</p>
                            <h3><span>Rating</span><i class="bi bi-star-fill"></i> 4.3</h3>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="card">
                <img src="img/thor love of thunder.jpg" alt="" class="poster">
                <div class="rest_card">
                    <img src="img/thor love of thunder1.avif" alt="">
                    <div class="cont">
                        <h4>Thor: love of thunder</h4>
                        <div class="sub">
                            <p>Action, 2021</p>
                            <h3><span>Rating</span><i class="bi bi-star-fill"></i> 4.3</h3>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="card">
                <img src="img/moon knight.jpg" alt="" class="poster">
                <div class="rest_card">
                    <img src="img/moon knight1.webp" alt="">
                    <div class="cont">
                        <h4>Moon knight</h4>
                        <div class="sub">
                            <p>Action, 2021</p>
                            <h3><span>Rating</span><i class="bi bi-star-fill"></i> 4.3</h3>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="card">
                <img src="img/eternals.jpg" alt="" class="poster">
                <div class="rest_card">
                    <img src="img/eternals1.webp" alt="">
                    <div class="cont">
                        <h4>Eternals</h4>
                        <div class="sub">
                            <p>Action, 2021</p>
                            <h3><span>Rating</span><i class="bi bi-star-fill"></i> 4.3</h3>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="card">
                <img src="img/avengers.jpg" alt="" class="poster">
                <div class="rest_card">
                    <img src="img/avengers1.jpg" alt="">
                    <div class="cont">
                        <h4>Avengers</h4>
                        <div class="sub">
                            <p>Action, 2021</p>
                            <h3><span>Rating</span><i class="bi bi-star-fill"></i> 4.3</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        </div>
    </section>


    <section class="events">
        <h1>Events</h1>
        <div class="promotion">
            <a href="#" class="discount">
                <img src="img/events1.jpeg">
            </a>
            <a href="#" class="discount">
                <img src="img/events2.jpeg">
            </a>
            <a href="#" class="discount">
                <img src="img/events3.png">
            </a>
        </div>
    </section>

    <footer>
        <div class="footer-row">
            <div class="col">
                <img src="img/logo.png" class="footer-logo">
                <p>Movie Theaters</p>
            </div>
            <div class="col">
                <h2>Office</h2>
                <p>Địa chỉ: 334 Nguyễn Trãi, Thanh Xuân, Hà Nội</p>
                <p>Hotline: (028) 3775 2524</p>
            </div>
        
            <div class="col">
                <h2>Media</h2>
                <div class="media-icon">
                    <a href="#" > <i style="background: transparent;" class="bi bi-facebook"></i></a>
                    <a href="#"> <i style="background: transparent;" class="bi bi-instagram"></i></a>
                    <a href="#"> <i style="background: transparent;" class="bi bi-envelope"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        const btns = document.querySelectorAll(".nav-btn");
        const slides = document.querySelectorAll(".video-slide");
        const contents = document.querySelectorAll(".content");


        var sliderNav = function (manual) {
            btns.forEach((btn) => {
                btn.classList.remove("active");
            })

            slides.forEach((slide) => {
                slide.classList.remove("active");
            })

            contents.forEach((content) => {
                content.classList.remove("active");
            })

            btns[manual].classList.add("active");
            slides[manual].classList.add("active");
            contents[manual].classList.add("active");
        }

        btns.forEach((btn, i) => {
            btn.addEventListener("click", () => {
                sliderNav(i);
            });
        });
    </script>
</body>

</html>